.homepageAnimals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1d8e3;
}
.homepageAnimals #friend-h1{
    position: relative;
    top: 30px;
    margin-top: 1rem;
}