#donation-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: left;
    height: 100%;
}
#donation-form label{
    margin-top: 10px;
}
#donation-form input, select, textarea{
    text-align: center;
    margin: 20px 5px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 5px;
}
#donation-form #textarea{
    background-color: #f5f5f5;
}
#donation-form .buttons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#donation-form #submit{
    background-color: teal;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    transition: 0.15s;
}
#donation-form #submit:hover{
    border: 2px solid teal;
    background-color: white;
    color: teal;
}
#donation-form #cancel{
    background-color: lightcoral;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    transition: 0.15s;
}
#donation-form #cancel:hover {
    border: 2px solid lightcoral;
    background-color: white;
    color: lightcoral;
}